<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
            <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.linuxtools.tracing.examples.ui.views.histogram.NewHistogramView"
            id="org.eclipse.linuxtools.tracing.examples.ui.views.HistogramView"
            name="%tracing.examples.histogram.view.name"
            restorable="true">
      </view>
   </extension>

<!-- Uncomment to enable the example import wizard
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.myimport.description"
            id="org.eclipse.linuxtools.tmf.ui.myimport"
            name="%command.myimport.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.linuxtools.tracing.examples.ui.MyImportTraceHandler"
            commandId="org.eclipse.linuxtools.tmf.ui.myimport">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.linuxtools.tmf.ui.myimport"
               label="%command.myimport.label"
               mnemonic="%command.myimport.mnemonic"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        operator="and">
                     <instanceof
                           value="org.eclipse.linuxtools.tmf.ui.project.model.TmfTraceFolder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.linuxtools.tmf.import.category"
            class="org.eclipse.linuxtools.tracing.examples.ui.MyImportTraceWizard"
            id="org.eclipse.linuxtools.tmf.ui.trace.import.wizard"
            name="%wizard.myimport.name">
      </wizard>
   </extension>
-->
</plugin>
