<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.eclipse.linuxtools.lttng2.kernel.core.analysis.LttngKernelStateSystemModule"
            automatic="true"
            id="org.eclipse.linuxtools.lttng2.kernel"
            name="Lttng Kernel State System">
         <tracetype
               class="org.eclipse.linuxtools.lttng2.kernel.core.trace.LttngKernelTrace">
         </tracetype>
      </module>
   </extension>

</plugin>
