<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.linuxtools.tmf.ui.views.category"
            class="org.eclipse.linuxtools.internal.tmf.ui.graph.view.View"
            icon="icons/plot.gif"
            id="org.eclipse.linuxtools.tmf.ui.graph.view"
            name="Plotting view"
            restorable="false">
      </view>
   </extension>

</plugin>
